# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Platform
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Drift / codegen (将来)
*.g.dart
*.freezed.dart

# OS / tooling
.DS_Store
Thumbs.db
coverage/
devtools_options.yaml

# Env / secrets
.env
*.keystore
